.about {
    p {
        margin-bottom: 20px;
    }

    img {
        margin-top: 30px;
        margin-bottom: 50px;
        display: block;
        width: 100%;
        height: auto;
    }
}

@include up(768) {
    .about {
        display: flex;

        .text-sub {
            min-width: 200px;
            position: sticky;
            top: 150px;
            align-self: flex-start;
        }

        .description {
            max-width: 444px;
            font-size: 1.125rem;
        }

        img {
            max-width: 360px;
            margin-top: 80px;
            margin-bottom: 100px;
        }
    }
}
