.projetPage {
    article {
        margin-bottom: 100vh;
        margin-bottom: calc(var(--vh, 1vh) * 100);
        position: relative;
        z-index: 2;
        background-color: $primary-color;
    }

    header {
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                0deg,
                rgba($color: $black, $alpha: 1) 0%,
                rgba($color: $black, $alpha: 0.2) 50%,
                rgba($color: $black, $alpha: 0) 75%
            );
            opacity: 0.3;
        }

        h1 {
            position: absolute;
            color: $white;
            left: 20px;
            bottom: 115px;
            max-width: 75%;
            font-weight: 500;
        }

        .scroll {
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 50px;
            width: 1px;
            background-color: $white;
            animation: scroll 1s ease-out infinite;
            @keyframes scroll {
                0% {
                    transform: translateY(100%);
                    opacity: 1;
                }

                100% {
                    transform: translateY(0);
                    opacity: 0;
                }
            }
        }
    }

    @include up(768) {
        header {
            h1 {
                left: 50px;
                max-width: 600px;
            }
        }
    }
    @include up(992) {
        header {
            h1 {
                left: 100px;
                bottom: 100px;
            }
        }
    }
    @include up(1200) {
        header {
            h1 {
                left: 300px;
            }
        }
    }

    .content {
        @include up(768) {
            padding-bottom: 50px;
        }
        @include up(992) {
            padding-bottom: 40px;
        }

        .text {
            margin-top: 50px;
            margin-bottom: 50px;

            .infos {
                .item {
                    display: flex;
                    margin-bottom: 15px;

                    .text-sub {
                        min-width: 160px;
                        margin-top: 2px;
                    }
                }
            }

            hr {
                width: 100%;
                height: 1px;
                background-color: $black;
                opacity: 0.25;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .description {
                p {
                    margin-top: 20px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
        @include up(992) {
            .text {
                margin-top: 100px;
                margin-bottom: 100px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;

                .infos {
                    margin-left: 150px;
                    .item {
                        margin-bottom: 20px;
                        .text-sub {
                            min-width: 100px;
                        }
                    }
                    a {
                        position: relative;
                        border-bottom: none;
                        padding-bottom: 0;
                        display: inline-block;
                        margin-bottom: 10px;
                        &::after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 1px;
                            display: block;
                            right: 0;
                            bottom: -5px;
                            background: $black;
                            transition: 0.4s ease;
                        }
                        &:hover {
                            &::after {
                                width: 100%;
                                left: 0;
                                background: $black;
                            }
                        }
                    }
                }

                hr {
                    display: none;
                }

                .description {
                    max-width: 600px;
                }
            }
        }
        @include up(1200) {
            .text {
                .description {
                    margin-left: 200px;
                }
            }
        }

        .images-grid {
            img {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        @include up(768) {
            .images-grid {
                margin-left: 16px;
                margin-right: 50px;
                display: flex;
                width: auto;
            }
            .images-grid_column {
                padding-left: 34px; /* gutter size */
                background-clip: padding-box;
                > * {
                    background: grey;
                    margin-bottom: 60px;
                }
            }
        }
        @include up(992) {
            .images-grid {
                margin-left: 66px;
                margin-right: 100px;
            }
        }
    }

    .next-projet {
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        position: fixed;
        top: 0;
        z-index: 1;

        img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba($color: $primary-color, $alpha: 1) 0%, rgba($color: $primary-color, $alpha: 0) 50%);
            background-color: rgba($color: $primary-color, $alpha: 0.5);

            &.black {
                background: linear-gradient(
                    0deg,
                    rgba($color: $black, $alpha: 1) 0%,
                    rgba($color: $black, $alpha: 0.2) 50%,
                    rgba($color: $black, $alpha: 0) 75%
                );
                background-color: none;
            }
        }

        .text {
            position: absolute;
            color: $black;
            left: 20px;
            bottom: 115px;
            max-width: 75%;
            .text-block {
                overflow: hidden;
                p {
                    margin-bottom: 10px;
                }
            }
            h2 {
                font-weight: 500;
            }
        }
        @include up(768) {
            .text {
                left: 50px;
                h2 {
                    max-width: 600px;
                }
            }
        }
        @include up(992) {
            .text {
                left: 100px;
                bottom: 100px;
            }
        }
        @include up(1200) {
            .text {
                left: 300px;
            }
        }
    }
}
