// Variables
// ==================
:root {
    --main-color: #fceee7;
    --white: #ffffff;
    --black: #000000;
}

// Outils
// ==================
@import "tools/reset";
@import "tools/mixins";
@import "tools/typography";

// Generic
// ==================

html,
body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

body {
    font-family: $font;
    font-size: 16px;
    color: var(--black);
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}

@include up(768) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@include up(992) {
    .container {
        padding-left: 162px;
        padding-right: 162px;
    }
}

// Modules
// ==================

// Pages
// ==================
