// Outils
// ==================
@import "styles/tools/reset";
@import "styles/tools/mixins";
@import "styles/tools/variables";
@import "styles/tools/typography";

// Generic
// ==================

html,
body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

body {
    font-family: $font;
    font-size: 16px;
    line-height: 1.5;
    color: $black;
    background-color: $primary-color;
    overflow-x: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.main {
    padding-top: 353px;
}

@include up(768) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@include up(992) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .main {
        padding-top: 200px;
    }
}

// Modules
// ==================
@import "components/Header/header.scss";
@import "components/Nav/nav.scss";
@import "components/Footer/footer.scss";
@import "components/PageTransition/pageTransition.scss";

// Components
// ==================
@import "./components/Link/link.scss";
@import "./components/Intro/intro.scss";
@import "./components/Projet/projet.scss";

// Pages
// ==================
@import "./pages/home/home.scss";
@import "./pages/services/services.scss";
@import "./pages/projets/projets.scss";
@import "./pages/about/about.scss";
@import "./pages/projetPage/projetPage.scss";
@import "./pages/mentionsLegales/mentionsLegales.scss";

.page-enter {
    opacity: 0;
}
.page-enter-active {
    opacity: 1;
    transition: opacity 0.4;
    transition-delay: 0.6;
}

.page-exit {
    opacity: 1;
}
.page-exit-active {
    opacity: 0;
    transition: opacity 0.4;
}
