.nav {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: $white;
    position: fixed;
    transform: translate(-100%, 0);
    z-index: 9;
}

.nav-content {
    padding-top: 58px;
    padding-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
        display: flex;
        align-items: center;
        height: 100%;
        li {
            text-transform: capitalize;
        }
    }

    .bottom {
        .item {
            margin-top: 30px;
            p {
                margin-bottom: 0.4rem;
            }

            svg {
                width: 30px;
                height: 30px;
                margin-right: 15px;
            }
        }
    }
}

@include up(992) {
    .nav-content {
        padding-top: 88px;
        padding-bottom: 50px;

        .top {
            li {
                transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out;
                &:hover {
                    color: $white;
                    padding-left: 20px;
                    text-shadow: -1px 1px 0 $black, 1px 1px 0 $black, 1px -1px 0 $black, -1px -1px 0 $black;
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .item {
                margin-top: 0;
                p {
                    margin-bottom: 1rem;
                }
                a {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        display: block;
                        margin-top: 5px;
                        right: 0;
                        background: $black;
                        transition: 0.4s ease;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                            left: 0;
                            background: $black;
                        }
                    }
                }
                svg {
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                }
            }
            .item.social {
                a::after {
                    display: none;
                }
            }
        }
    }
}

// @include up(992) {
//     .nav {
//         padding-top: 140px;

//         .nav-content {
//             font-size: 3.5rem;
//             line-height: 1.5;
//             li {
//                 a {
//                     position: relative;
//                     &::after {
//                         content: url("../../assets/arrow-right.svg");
//                         position: absolute;
//                         right: -60px;
//                         top: 50%;
//                         transform: translateY(-48%);
//                         width: 40px;
//                         height: auto;
//                         opacity: 0;
//                         transition: opacity 0.2s ease-in-out;
//                     }

//                     &:hover::after {
//                         opacity: 1;
//                     }
//                 }
//             }
//         }
